@media  screen and (min-width: 1280px)  {
    // h2{
    //     font-size: 34px;
    //     line-height: 39.84px;
    // }
    .form{
        gap: 53px;
    }

    input{
        margin-top: 15px;

        height: 50px;
    }
}