@media screen and (min-width: 1281px) {
	.title {
		margin: 30px 4% 0;
		font-size: 34px;
		line-height: 40px;
	}

	h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 50px;
	}

	li {
		font-size: 18px;
		line-height: 20px;
	}

	.form {
		gap: 53px;
	}

	input {
		margin-top: 15px;

		height: 50px;
	}

	.images {
		gap: 4%;
	}

	img {
		width: 48%;
		max-width: 146px;
	}

	.img2 {
		border-top-right-radius: 40%;
		margin-left: 4%;
	}

	.img3 {
		border-bottom-left-radius: 40%;
		margin-right: 4%;
	}

	.container {
		max-height: 500px;
	}

	.img-ul-main {
		box-sizing: border-box;
		padding: 3.2% 2.2% 2.9%;
		max-height: 464.95px;
	}

	.result {
		margin-top: 31px;
		gap: 33px;
		font-weight: 700;
		font-size: 24px;
		line-height: 140%;
		padding: 36px 0 41px 33px;
		margin-bottom: 140px;

		img {
			width: 50px;
			height: 48.16px;
		}

		p {
			max-height: 28px;
			margin: 0;
		}
	}

	.img-ul {
		gap: 30px;
		align-items: flex-start;

		li {
			font-size: 18px;
			line-height: 20px;
			max-height: 9.9px;

			&:first-child {
				max-height: 29.81px !important;
			}

			&:not(:last-child) {
				margin-bottom: 30.01px;
			}

			&::before {
				height: 10px;
				width: 10px;
			}
		}
	}

	.phone {
		font-size: 50px;
		line-height: 46px;
	}

	.email {
		font-size: 34px;
		line-height: 39.64px;
	}

	.or {
		font-size: 24px;
		line-height: 28px;
		text-transform: uppercase;
		color: #404456;
	}

	.footer-text {
		max-width: 775.78px;

		p {
			font-size: 16px;
			line-height: 138%;
			max-width: 70%;
			max-height: 33.04px;
			color: #404456;
			padding-top: 30.35px;
		}

		h3 {
			font-size: 36px;
			line-height: 46px;
			margin: 0;
		}
	}
}

@media screen and (min-width: 1281px) and (max-width: 1400px) {
	.main-footer {
		gap: 3vw !important;
	}

	.phone {
		font-size: 36px !important;
		line-height: 46px;
	}
}
