
@media screen and (min-width: 767px) and (max-width: 1050px) {
    .title {
        margin: 30px 4% 0;
        font-size: 26px;
        line-height: 30px;

    }
    .container {
        display: flex;
        gap: 27px;
        margin: 20px 30px 0;
        min-width: 344px;
    }
    input{
        height: 46px;
        margin-top: 14px;

    }

    h2 {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 25px;
        margin-top: 0px;
    }
    .img-ul-main {
        box-sizing: border-box;
        padding: 22.08px 15px 20px;
        max-height: 354px;

    }

    .img-con {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;

    }

    .img-ul {
        gap: 7%;
        align-items: flex-start;


        li {
            font-size: 13px;
            line-height: 15px;
            max-height: 8.1px;
            max-width: 187.91px;
            &:first-child {
                max-height: 26.19px !important;
            }

            &:not(:last-child) {
                margin-bottom: 25.04px;

            }

            &::before {

                height: 8.09px;
                width: 8.09px;
            }
        }
    }

    .images {
        width: 30%;
    }

    img {
        width: 95%;
        max-width: 116px;
        max-height: 58px!important;
        &:not(:last-child) {
            margin-bottom: 5%;
        }
    }

    .img1,
    .img3 {
        border-radius: 15px 0px;
    }

    .img2,
    .img4 {
        border-radius: 0px 15px;

    }


    .phone {
        font-size: 24px;
        line-height: 28px;
    }

    .email {
        font-size: 20px;
        line-height: 23px;

    }

    .or {
        font-size: 12px;
        line-height: 14px;

    }

    .footer-text {
        padding: 65px 0 64px 51px;

        p {
            font-size: 10px;
            line-height: 12px;
            max-width: 467.55px;
            max-height: 33.04px;
            padding-top: 16px;

        }

        h3 {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .result {
        box-sizing: border-box ;
        margin-top: 20px;
        gap: 38px;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        padding: 35px 27px;
        max-height: 108px!important;
        img {
            width: 40px;
            height: 39px;
        }

        p {
            max-height: 28px;
            margin: 0;
        }
    }
}