@import "360px"; 
@import "768px"; 
@import "1280px"; 
@import "1600px"; 
@import "rubles"; 

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
};


:root {
    --main: #F8F8F8;
    --blue: #0F4471;
    --red: #E02025;
    --gray-light: #DFDFDF;
}
body{
    font-family: Roboto;
    margin: 0px;
}
h1{
    font-size: 3vh;
}
h2{
    color: var(--blue);
    overflow-wrap:break-word;
    font-size: 2vw;
    margin: 3vw 15px 3vw;
   
   }



.form {
    display: flex;
    flex-direction: column;
}
input, label{
    display:block;
}
input{
    border-color: var(--gray-light);
    border-radius: 5px;
    border-width: 1px;
}

.container {
    display: flex;
  
}



.hidden {
    visibility: hidden;
}
.img-ul-main{

    background-color: var(--main);

}
.img-ul{
    display: flex;
    flex-direction: row;


}
.images {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 146px;
}
