.nav {
    width: 100%;
    height: 40px;
    background-color: var(--main);
    display: flex;
    align-items: center;
    background-color: var(--main);

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 30px;
        margin: 0 0 0 5%;
        padding: 0;
    }

    li {
        list-style-type: none;
        
    }

    a {
        text-decoration: none;
        font-size: 12px;
        line-height: 14.06px;
        font-weight: 500;
        &:active {
            color: var(--blue);
        }
    }

}


.rubles {
    .title {
        font-weight: 700;
        line-height: 140%;
        font-size: 26px;
    }
    a {
        text-decoration: none;
        color: var(--blue);
    }
    .footer {
        box-sizing: border-box;
        font-weight: 700;
        line-height: 140%;
        color: var(--blue);
        font-size: 20px;
        background-color: var(--main);
        border-radius: 16px;
        display: flex;
        align-items: center;

        p {
            margin: 0;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

    }

    .card {
        box-sizing: border-box;
        width: calc(100% / 3);
        flex: auto;
        background-color: var(--main);
        border-radius: 16px;
        padding-left: 24.13px;
        padding-top: 38.92px;
        cursor: pointer;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

    }

    .char {
        color: var(--blue);
        font-weight: 700;
    }

    .name {
        margin-top: 30px;
        margin-bottom: 40px;
        word-wrap: break-word;

    }


    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;

        &::before {
            content: '';
            display: inline-block;
            height: 10px;
            width: 10px;
            margin-right: 10px;
            background-image: url(../assets/images/li.png);
        }

        &:last-child {
            margin-top: 25.14px;
            margin-bottom: 48.35px;

        }
    }


}


@media screen and (max-width: 500px) {
    .nav {

        height: 50px;

        ul {
            margin-left: 9%;
        }

    }

    .rubles {
        .title {
            font-size: 20px;
            margin: 20px 4.16%;
        }

        img {
            width: 50px;
        }

        .footer {
            font-size: 16px;
            margin: 16px 4.16% 98px;
            padding: 32px 30px;
            flex-direction: column;
            gap: 29px;
            align-items: flex-start;

            .text {
                max-height: 30px;
                max-width: 226px;
            }


        }

        li:last-child {
            margin-top: 18px;
            margin-bottom: 33px;
        }

        .char {
            font-size: 17px;
        }

        .card {
            padding-left: 24.90px;
            width: 92%;
            margin: 0 4.16%;


        }

        .info {
            width: 42.5px;
        }

    }
}

@media screen and (min-width: 500px) and (max-width: 769px) {
    .rubles {
        .title {
            font-size: 26px;
            margin: 20px 4.2%;
        }

        img {
            width: 52px;
        }

        .footer {
            font-size: 18px;
            margin: 0 3.9% 44px;
            padding: 33px 25px;
            display: flex;
            align-items: center;
            gap: 25px;

        }

        .cards {
            justify-content: start;
            margin: 0 3.9% 30px;
        }

        .card {
            max-width: 50%;

        }


        .char {
            font-size: 18px;
        }

        .info {
            width: 40px;
        }

    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .rubles {
        .title {
            margin: 36px 5% 40px;
        }

        img {
            width: 52px;

        }

        .footer {

            margin: 48px 4.2% 108px;
            padding: 40px 25px 42px;
            gap: 20px;

        }

        .cards {
            flex-wrap: nowrap;
            margin: 0px 4.2%;
            gap: 30px;
        }

        .card {
            max-width: 33%;
        }

        .char {
            font-size: 18px;
        }

        .info {
            width: 44.92px;
        }
    }
}

@media screen and (min-width: 1279px) {
    .nav {

        height: 46px;

    }

    .rubles {
        .title {
            font-size: 36px;
            margin: 30px 5% 40px;
        }

        .footer {
            margin: 30px 5% 92px 5%;
            gap: 30px;
            padding: 2.5% 31px 2.8%;
        }


        img {
            width: 4.4vw;
        }

        .cards {
            flex-wrap: nowrap;
            margin: 0 5%;
            gap: 30px;
        }

        .card {
            padding-left: 2vw;
            width: calc(100%/3);


        }

        .char {
            font-size: 20px;
            margin-top: 3vw;
        }

        .info {
            width: 50px;
        }

    }
}